<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="/register" method="POST"> 
        <input type="text" required name="username" placeholder="Username">
        <input type="password" required name="password" placeholder="Password">
        <input type="submit" required>
    </form>

    <a href="/login"> Login here! </a>


</body>
</html>